<div>
        <mat-menu #appMenu="matMenu">
                <button mat-menu-item>Settings</button>
                <button mat-menu-item>Help</button>
        </mat-menu>
              
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>menu</mat-icon>
        </button><img src='assets/img/nittologo.png' style="transform:scale(0.70); transform-origin: left bottom 0;" />
                    <span class='mat-title'>NITTO PRODUCTION (version 1.5.20180620)</span>
</div>
<router-outlet>
</router-outlet>