<mat-divider></mat-divider>
<div class='mat-title'>
    Daily Plan and Result
</div>
<div>
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="calendarDate" (dateInput)="addEvent('input', $event)"
      (dateChange)="addEvent('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Choose a machine" [(ngModel)]="selectedValue" >
      <mat-option *ngFor="let mc of machineList" [value]="mc.ind">
        {{ mc.mcp }} ({{ mc.ind}})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="updateRequest()" mat-raised-button>View Result</button>

</div>
<div>
  <mat-slide-toggle  color="primary" [(ngModel)]="refreshToggle">Auto Refresh!</mat-slide-toggle>
</div>
<mat-divider></mat-divider>
<div>
  <mat-tab-group>
    <mat-tab label="Daily Plan">
      <app-handling-table>
      </app-handling-table>
    </mat-tab>
  </mat-tab-group>
</div>