<mat-divider></mat-divider>
<div class='mat-title'>
    Machine Performance
</div>
<div>
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="calendarDate" (dateInput)="addEvent('input', $event)"
      (dateChange)="addEvent('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Choose a shift" [(ngModel)]="selectedShift" >
      <mat-option value="Day">Day</mat-option>
	  <mat-option value="Night">Night</mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="updateRequest()" mat-raised-button>View Result</button>
</div>

<mat-divider></mat-divider>
<div>
	<mat-tab-group>
		<mat-tab label="Machince Performance">
			<div class="container-fluid" *ngFor="let mc of _listMachine; let i=index;">
				<div class="row">
					<div class="col-sm-7 col-xs-7 nopaddings">
						<app-machine-perf [vMachine]="mc" [vIdentify]="removeSyntax(mc.ip_address)" 
							id="container-{{ mc.i_ind_content.trim() }}-{{ removeSyntax(mc.ip_address) }}">
						</app-machine-perf>
					</div>
					<div class="col-sm-5 col-xs-5 nopaddings">
						<app-machine-perf-productivity [vMachine]="mc" [vIdentify]="removeSyntax(mc.ip_address)" 
							id="prod-container-{{ mc.i_ind_content.trim() }}-{{ removeSyntax(mc.ip_address) }}">
						</app-machine-perf-productivity>
					</div>
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>