/* Structure */
.handling-table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    display: table;
    width: 100%;
    overflow: auto;
    }  
  
    .cdk-header-row {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      background-color: inherit;
  }

  /*
   * Styles to make the demo's cdk-table match the material design spec
   * https://material.io/guidelines/components/data-tables.html
   */
  .handling-table-table {
    flex: 1 1 auto;
    overflow: auto;
    max-height: 500px;
  }
  .handling-table-header-row {
    background: #3E50B4 ;
    color: white;
  }
  
  .handling-table-header-row, .handling-table-row {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    height: 32px;
    padding: 0 8px;
  }
  
  .handling-table-cell, .handling-table-header-cell {
    flex: 1;
  }
  
  .handling-table-header-cell {
    font-size: 16px;     
  }

  .cdk-cell:nth-child(1),
  .cdk-header-cell:nth-child(1)
   {
   flex: 0 0 4%;
   }

   .cdk-cell:nth-child(2),
   .cdk-header-cell:nth-child(2)
    {
    flex: 0 0 5%;
    }
  
    .cdk-cell:nth-child(3),
    .cdk-header-cell:nth-child(3)
     {
     flex: 0 0 10%;
     }

     .cdk-cell:nth-child(5),
     .cdk-header-cell:nth-child(5)
      {
      flex: 0 0 20%;
      }
   

      .cdk-cell:nth-child(6),
      .cdk-header-cell:nth-child(6)
       {
       flex: 0 0 20%;
       }

  .handling-table-cell {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
  }


  .chip-item {
      width: 100%;
  }