<mat-divider></mat-divider>
<div class='mat-title'>
    Pending
</div>
<div>
    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-select placeholder="Choose a machine" [(ngModel)]="selectedValue" >
        <mat-option *ngFor="let mc of machinePendingList" [value]="mc.i_sim_ind_content">
          {{ mc.mcp }} ({{ mc.i_sim_ind_content}}) - - - - - --> {{ mc.cnt }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <button (click)="updateRequest()" mat-raised-button>View Result</button>
    
  
  </div>
  <div>
    <mat-slide-toggle  color="primary" [(ngModel)]="refreshToggle">Auto Refresh!</mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>
  <div>
    <mat-tab-group>
      <mat-tab label="Pending Status">
        <app-jobstatus-pending>
        </app-jobstatus-pending>
      </mat-tab>
    </mat-tab-group>
  </div>